@media screen and (min-width: 769px)  {
    header {
        justify-content: flex-start;
    }

    main {
        padding: 0 60px;
    }

    .container {
        max-width: 760px;
    }

    h1 {
        font-size: 3.5rem;
    }

    .dn {
        display: inline-block;
    }

    .rating p,
    .rating i,
    p.rate {
        font-size: 1.1rem;
    }

    .yt-video {
        height: 450px;
    }

    .preparation ul{
        display: flex;
        flex-wrap: wrap;
        column-gap: 50px;
        row-gap: 10px;
    }

    .brands-link ul li {
        padding: 10px 50px;
    }

    section.adv {
        display: block;
        width: 700px;
        margin-bottom: 100px;
    }
}