* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #F4F3F1;
    min-height: 300px;
    max-width: 100%;
}

/* Utils */ 
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.relative {
    position: relative;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}


/* GENERICS */
.ml-10 {
    margin-left: 10px;
}

.dn {
    display: none;
}

/* HEADER */ 
header {
    height: 100px;
    padding: 0 20px;
    background-color: white;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

h1 {
    font-family: "Nerko One", cursive;
    color: #FF9614;
    text-align: center;
    font-weight: 200;
    font-size: 4rem;
    text-shadow: 1px 1px 3px grey;
}

/* MAIN */ 

/* Dessert - rating section */
h3 {
    font-weight: 300;
    color: grey;
    margin-bottom: 10px;
}

h2 {
    color: #4E3969;
    font-size: 2rem;
}

.dessert-rating {
    min-height: 10px;
    justify-content: space-between;
    margin-bottom: 50px;
}

.dessert-name {
    flex-basis: 70%;
    gap: 10px;
}

.rating {
    flex-basis: 30%;
    justify-content: flex-end;
    align-items: center;
}

.rating p,
.rating i {
    font-size: 1.4rem;
}

p.rate {
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
    background-color: #FF9614;
    padding: 10px 15px;
    border-radius: 30px;
}

/* Yt video */
.yt-video {
    min-height: 400px;
    background-color: red;
}

iframe {
    position: absolute;
    height: 100%;
    width: 100%;
}













